---
export function getStaticPaths() {
    return [{ params: { lang: "pl-en" } }];
}

const { lang } = Astro.params;
---

<html>
    <head>
        <!-- <meta http-equiv="refresh" content="0;url=/pl-en/" /> -->
    </head>
    <body>{lang}</body>
</html>

<style>
    html {
        @apply h-full;
    }
</style>
