---
import TestInput from "../layouts/TestInput";
---

<html>
    <head> </head>
    <body>
        <TestInput text="test" client:load />
    </body>
</html>

<style>
    * {
        @apply h-full;
        @apply w-full;
    }
</style>
