---
export function getStaticPaths() {
    return [{ params: { lang: "pl-en" } }];
}

const { lang } = Astro.params;
---

<html>
    <head>
    </head>
    <body>{lang}</body>
</html>
    
<style></style>